<header class="pt-3">
    <div class="container">
        <div class=" row justify-content-center align-items-center">
            <div class="col-auto me-auto">
                <img src="https://firebasestorage.googleapis.com/v0/b/projectandroidgroup6.appspot.com/o/imagesNews-removebg-preview.png?alt=media&token=c51308ae-be2b-41e3-b6c0-2f424d4cc651" class="logo" alt="">
                <p class="title-article"> Tin tức 24H</p>
            </div>
            <div class="col-6">
                <input type="text" class="form-control color-white" style="width: 100%; border-radius: 15px;" name="" id="" placeholder="Nội dung tìm  kiếm......."[(ngModel)]="key">
            </div>
            <div class="col-auto">
                <i class="fas fa-search" (click)="redict()"></i>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg sticky-top navbar-light p-0 shadow">
    <div class="container navigation">
      <a class="navbar-brand">
          <span (click) = "navigationHome()" style="cursor: pointer;">
            <i class="fas fa-home text-white"></i>
          </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click) = "navigationOtherNews('Thế giới')">Thế giới</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Thời sự')">Thời sự</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Kinh doanh')">Kinh doanh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Startup')">Startup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click) = "navigationOtherNews('Giải trí')">Giải trí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Thể thao')">Thể thao</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Pháp luật')">Pháp luật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Giáo dục')">Giáo dục</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click) = "navigationOtherNews('Tin mới nhất')">Tin mới nhất</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Tin nổi bật')">Tin nổi bật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Sức khỏe')">Sức khỏe </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click) = "navigationOtherNews('Đời sống')">Đời sống</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"(click) = "navigationOtherNews('Du lịch')">Du lịch </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click) = "navigationOtherNews('Khoa học')">Khoa học</a>
          </li>
          <li class="nav-item position-relative news-other-hover" style="border-right: 1px solid white">
            <a class="nav-link">Tin tức khác</a>
            <ul class="position-absolute news-other p-0 shadow">
                <li><a (click) = "navigationOtherNews('Số hóa')">Số hóa</a></li>
                <li><a (click) = "navigationOtherNews('Xe')">Xe</a></li>
                <li><a (click) = "navigationOtherNews('Ý kiến')">Ý kiến</a></li>
                <li><a (click) = "navigationOtherNews('Tâm sự')">Tâm sự</a></li>
                <li><a (click) = "navigationOtherNews('Cười')">Cười</a></li>
                <li><a (click) = "navigationOtherNews('Tin xem nhiều')">Tin xem nhiều</a></li>
            </ul>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
