<header class="pt-3">
    <div class="container">
        <div class=" row justify-content-center align-items-center">
            <div class="col-auto me-auto">
                <img src="https://firebasestorage.googleapis.com/v0/b/projectandroidgroup6.appspot.com/o/imagesNews-removebg-preview.png?alt=media&token=c51308ae-be2b-41e3-b6c0-2f424d4cc651" class="logo" alt="">
                <p class="title-article"> Tin tức 24H</p>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" style="width: 100%; border-radius: 15px;" name="" id="" placeholder="Nội dung tìm  kiếm.......">
            </div>
            <div class="col-auto">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
</header>
<nav class="navbar navbar-expand-lg sticky-top navbar-light p-0">
    <div class="container navigation">
      <a class="navbar-brand" href="#">
          <span>
            <i class="fas fa-home "></i>
          </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Thế giới</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thời sự</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kinh doanh</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Startup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giải trí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Thể thao</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pháp luật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giáo dục</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tin mới nhất</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tin nổi bật</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sức khỏe </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Đời sống</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Du lịch </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Khoa học</a>
          </li>
          <li class="nav-item position-relative news-other-hover" style="border-right: 1px solid white">
            <a class="nav-link" href="#">Tin tức khác</a>
            <ul class="position-absolute news-other p-0">
                <li><a href="">Số hóa</a></li>
                <li><a href="">Xe</a></li>
                <li><a href="">Ý kiến</a></li>
                <li><a href="">Tâm sự</a></li>
                <li><a href="">Cười</a></li>
                <li><a href="">Tin xem nhiều</a></li>
            </ul>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
