<div class="containers first row">
    <div class="main_content col-8">

        <div class="detailed__news">
            <div class="new_content">
                <h2 class="title_new">Ngân sách đã chi 168.800 tỷ đồng phòng chống Covid-19</h2>
                <p class="date">Thứ năm, 22/7/2021, 10:58 (GMT+7)</p>
                <p class="description">Ngân sách nhà nước hỗ trợ doanh nghiệp, người dân và chi cho công tác phòng chống
                    Covid-19 trong năm 2020 và 6 tháng đầu năm 2021 là 168.800 tỷ đồng.</p>
                <div class="content">
                    <p class="Normal">Theo báo cáo của Chủ nhiệm Ủy ban Kinh tế Vũ Hồng Thanh sáng 22/7, ngân sách nhà
                        nước
                        dành 147.300 tỷ đồng để gia hạn tiền thuế, tiền thuê đất và miễn, giảm các khoản thuế, phí, lệ
                        phí;
                        21.500 tỷ đồng chi cho công tác phòng, chống dịch và hỗ trợ người dân gặp khó khăn.</p>
                    <p class="Normal">Ủy ban Kinh tế đánh giá, việc triển khai chính sách, thực hiện các gói hỗ trợ đã
                        góp
                        phần khắc phục khó khăn trong đời sống nhân dân và hoạt động của doanh nghiệp. Tuy nhiên, việc
                        triển
                        khai còn chậm, chưa đạt hiệu quả mong muốn, tỷ lệ giải ngân thấp, chưa tiếp cận được nhiều nhóm
                        dễ
                        bị tổn thương.</p>
                    <p class="Normal">Cụ thể đến ngày 27/5, gói hỗ trợ tiền mặt mới giải ngân khoảng 13.100 tỷ đồng trên
                        tổng số 35.880 tỷ đồng (chiếm 36,5%). Gói hỗ trợ người sử dụng lao động vay qua Ngân hàng Chính
                        sách
                        xã hội để trả lương ngừng việc mới giải ngân 41,8 tỷ đồng trên tổng số 16.000 tỷ đồng (0,26%),
                        tức
                        chỉ có 245 người sử dụng lao động được vay để trả lương ngừng việc cho 11.270 người.</p>
                    <p class="Normal">Gói hỗ trợ thông qua chính sách tạm dừng đóng vào quỹ hưu trí và tử tuất (6.500 tỷ
                        đồng) mới giải quyết cho 192.500 lao động của hơn 1.840 đơn vị, doanh nghiệp với tổng số tiền
                        hơn
                        780 tỷ đồng, chiếm 12,1%.</p>
                    <figure class="tplCaption" data-href="" data-target="">
                        <div class="fig-picture" data-href="" data-target=""><img
                                alt="Chủ nhiệm Ủy ban Kinh tế của Quốc hội Vũ Hồng Thanh. Ảnh: Hoàng Phong"
                                data-natural-h="718" data-natural-width="1200"
                                src="https://vcdn-vnexpress.vnecdn.net/2021/07/22/76cd54404722b07ce933-6692-1626924908_r_460x0.jpg">
                        </div>
                        <figcaption>
                            <p class="Image">Chủ nhiệm Ủy ban Kinh tế của Quốc hội Vũ Hồng Thanh. Ảnh: <em>Giang
                                    Huy</em>
                            </p>
                        </figcaption>
                    </figure>
                    <p class="Normal">Đánh giá về chiến lược vaccine, ông Vũ Hồng Thanh cho rằng nhiều nước châu Á,
                        trong đó
                        có Việt Nam, có nguy cơ lỡ nhịp với nền kinh tế thế giới vì không đủ nguồn cung và công nghệ sản
                        xuất vaccine. Đến 13/7, Việt Nam đã nhận khoảng 8 triệu liều vaccine; hơn 4 triệu liều được tiêm
                        cho
                        người dân. Trong khi để đạt miễn dịch cộng đồng, cần khoảng 150 triệu liều vaccine để tiêm cho
                        70%
                        dân số.</p>
                    <p class="Normal">Báo cáo trước Quốc hội, Phó thủ tướng Phạm Bình Minh cho biết, thời gian qua, cả
                        nước
                        đã chuyển trạng thái từ "phòng ngự" sang "tấn công" với chiến lược vaccine gồm: Khẩn trương nhập
                        khẩu, nghiên cứu, chuyển giao công nghệ, sản xuất vaccine trong nước và chiến dịch tiêm chủng.
                        Các
                        cấp đã ngoại giao, thúc đẩy mọi biện pháp có thể để có vaccine sớm nhất, nhiều nhất và tổ chức
                        chiến
                        dịch tiêm chủng kịp thời. Quỹ vaccine phòng chống Covid-19 được thành lập, nhận được sự hưởng
                        ứng
                        của toàn dân, cộng đồng doanh nghiệp.</p>
                    <p class="Normal">Với quyết tâm thực hiện "mục tiêu kép", nhưng ưu tiên phòng chống Covid-19, trong
                        6
                        tháng cuối năm, Chính phủ sẽ tập trung vào năm nhiệm vụ, trong đó các giải pháp để triển khai
                        hiệu
                        quả chiến lược vaccine được chú trọng. Vaccine về nước sẽ được phân bổ linh hoạt, khoa học cho
                        các
                        nhóm ưu tiên. "Chúng tôi đồng thời chuẩn bị đầy đủ nhân lực, cơ sở vật chất cần thiết và tổ chức
                        chiến dịch tiêm chủng toàn quốc kịp thời, an toàn, khoa học, hiệu quả, sớm đạt miễn dịch cộng
                        đồng,
                        chậm nhất nửa đầu năm 2022", Phó thủ tướng khẳng định.</p>
                    <figure class="tplCaption" data-href="" data-target="">
                        <div class="fig-picture" data-href="" data-target=""><img
                                alt="Phó thủ tướng Phạm Bình Minh báo cáo kết quả kinh tế xã hội 6 tháng đầu năm trước Quốc hội, sáng 22/7. Ảnh: Giang Huy"
                                data-natural-h="721" data-natural-width="1200"
                                src="https://vcdn-vnexpress.vnecdn.net/2021/07/22/Pho-Thu-tuong-Pham-Binh-Minh-1-8736-5610-1626924908_r_460x0.jpg">
                        </div>
                        <figcaption>
                            <p class="Image">Phó thủ tướng Phạm Bình Minh báo cáo kết quả kinh tế xã hội 6 tháng đầu năm
                                trước Quốc hội, sáng 22/7. Ảnh: <em>Giang Huy</em></p>
                        </figcaption>
                    </figure>
                    <p class="Normal">Để đạt được mục tiêu đó, các nguồn lực hợp pháp sẽ được huy động cùng chống dịch,
                        nhất
                        là hợp tác công tư. Cơ quan chức năng cũng sẽ đẩy nhanh nhập khẩu vaccine; chuyển giao công
                        nghệ,
                        nghiên cứu, sản xuất vaccine trong nước, tiến tới tự chủ vaccine nhanh nhất, sớm nhất có thể
                        nhưng
                        bảo đảm an toàn, hiệu quả. Đồng thời, Chính phủ cũng triển khai hiệu quả "ngoại giao vaccine",
                        hợp
                        tác quốc tế trong phòng, chống Covid-19.</p>
                    <p class="Normal">Số ca nhiễm ghi nhận trong nước kể từ ngày 27/4 đến sáng 22/7 là 67.422, ghi nhận
                        ở <a href="https://vnexpress.net/sang-22-7-them-2-967-ca-covid-19-4328555-p2.html"
                            rel="dofollow" title="61 tỉnh thành">61 tỉnh thành</a>, trong đó 9.197 người đã được công bố
                        khỏi Covid-19.</p>

                </div>
                <div class="author">
                    <p><strong>Hoàng Thùy</strong></p>
                </div>
            </div>

        </div>
    </div>
    <div class="right_content col-4">
        <div class="banner_adv">
            <img src="assets/baner/banner_7.png" width="60%" height="auto">
        </div>
        <div class="area_news_populations">
            <div class="list_news">
                <h6>phổ biến nhất</h6>
                <hr />
                <div class="news">
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                            </p>
                            <p class="date_item">2021-02-22 22:35:00</p>
                        </div>


                    </div>


                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                            </p>
                            <p class="date_item">2021-02-22 22:35:00</p>
                        </div>


                    </div>

                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                            </p>
                            <p class="date_item">2021-02-22 22:35:00</p>
                        </div>


                    </div>


                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                            </p>
                            <p class="date_item">2021-02-22 22:35:00</p>
                        </div>


                    </div>





                </div>

            </div>
        </div>


    </div>
</div>


<div class="containers second row">
    <div class="main_content col-8">


        <div class="comment">
            <div class="form_comment">
                <div class="input">
                    <input type="text" class="form-control" id="user" name="username" placeholder="Nhập tên của bạn">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Nhập email của bạn">
                    <div class="clear"></div>
                </div>
                <textarea class="form-control" rows="5" id="t_comment" placeholder="Ý kiến của bạn là..."></textarea>
                <button type="button" class="btn" id="btn_Send">GỬI Ý KIẾN</button>
                <p class="see-more">>> Xem tất cả ý kiến bạn đọc...</p>
            </div>
        </div>

    </div>
    <div class="right_content col">

        <div class="banner_adv">
            <img src="assets/baner/banner_3.jpg" width="60%" height="auto">
        </div>

    </div>
</div>


<div class="containers third row">
    <div class="main_content col-8">
        <div class="news_you_need_to_know">
            <div class="list_news">
                <h4>có thể bạn quan tâm</h4>
                <hr />
                <div class="news">
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://vcdn1-thethao.vnecdn.net/2021/02/23/eu3jqmmwqam9rkm-jpeg-161403325-8608-5320-1614033266.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=XOBGIjGQB4JodcaRE7oZgw"
                                width="100%" height="auto">
                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">Ronaldo lập cú đúp bằng đánh đầu</p>
                            <p class="description_item">Hai pha không chiến tốt giúp Cristiano Ronaldo lập cú đúp
                                trong trận Juventus hạ Crotone ở vòng 23 Serie A hôm 22/2.</p>
                        </div>
                    </div>
                    <hr />

                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://vcdn1-thethao.vnecdn.net/2021/02/23/eu3jqmmwqam9rkm-jpeg-161403325-8608-5320-1614033266.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=XOBGIjGQB4JodcaRE7oZgw"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">Ronaldo lập cú đúp bằng đánh đầu</p>
                            <p class="description_item">Hai pha không chiến tốt giúp Cristiano Ronaldo lập cú đúp
                                trong trận Juventus hạ Crotone ở vòng 23 Serie A hôm 22/2.</p>
                        </div>


                    </div>
                    <hr />
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://vcdn1-thethao.vnecdn.net/2021/02/23/eu3jqmmwqam9rkm-jpeg-161403325-8608-5320-1614033266.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=XOBGIjGQB4JodcaRE7oZgw"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">Ronaldo lập cú đúp bằng đánh đầu</p>
                            <p class="description_item">Hai pha không chiến tốt giúp Cristiano Ronaldo lập cú đúp
                                trong trận Juventus hạ Crotone ở vòng 23 Serie A hôm 22/2.</p>
                        </div>


                    </div>
                    <hr />
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://vcdn1-thethao.vnecdn.net/2021/02/23/eu3jqmmwqam9rkm-jpeg-161403325-8608-5320-1614033266.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=XOBGIjGQB4JodcaRE7oZgw"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">Ronaldo lập cú đúp bằng đánh đầu</p>
                            <p class="description_item">Hai pha không chiến tốt giúp Cristiano Ronaldo lập cú đúp
                                trong trận Juventus hạ Crotone ở vòng 23 Serie A hôm 22/2.</p>
                        </div>


                    </div>
                    <hr />
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://vcdn1-thethao.vnecdn.net/2021/02/23/eu3jqmmwqam9rkm-jpeg-161403325-8608-5320-1614033266.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=XOBGIjGQB4JodcaRE7oZgw"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">Ronaldo lập cú đúp bằng đánh đầu</p>
                            <p class="description_item">Hai pha không chiến tốt giúp Cristiano Ronaldo lập cú đúp
                                trong trận Juventus hạ Crotone ở vòng 23 Serie A hôm 22/2.</p>
                        </div>


                    </div>
                    <hr />

                     <div class="news_item row">
                        <div class="news_image col-4">
                            <img src="https://vcdn1-thethao.vnecdn.net/2021/02/23/eu3jqmmwqam9rkm-jpeg-161403325-8608-5320-1614033266.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=XOBGIjGQB4JodcaRE7oZgw"
                                width="100%" height="auto">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item">Ronaldo lập cú đúp bằng đánh đầu</p>
                            <p class="description_item">Hai pha không chiến tốt giúp Cristiano Ronaldo lập cú đúp
                                trong trận Juventus hạ Crotone ở vòng 23 Serie A hôm 22/2.</p>
                        </div>


                    </div>
                    <hr />
                </div>

            </div>

        </div>

    </div>
    <div class="right_content col">
        <div class="content">
            <div class="area_news_newest">
                <div class="list_news">
                    <h6>mới nhất</h6>
                    <hr />
                    <div class="news">
                        <div class="news_item row">
                            <div class="news_image col-4">
                                <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                    width="100%" height="auto">
    
                            </div>
                            <div class="news_content col-8">
                                <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                                </p>
                                <p class="date_item">2021-02-22 22:35:00</p>
                            </div>
    
    
                        </div>
    
    
                        <div class="news_item row">
                            <div class="news_image col-4">
                                <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                    width="100%" height="auto">
    
                            </div>
                            <div class="news_content col-8">
                                <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                                </p>
                                <p class="date_item">2021-02-22 22:35:00</p>
                            </div>
    
    
                        </div>
    
                        <div class="news_item row">
                            <div class="news_image col-4">
                                <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                    width="100%" height="auto">
    
                            </div>
                            <div class="news_content col-8">
                                <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                                </p>
                                <p class="date_item">2021-02-22 22:35:00</p>
                            </div>
    
    
                        </div>
    
    
                        <div class="news_item row">
                            <div class="news_image col-4">
                                <img src="https://i1-vnexpress.vnecdn.net/2021/08/05/nhTSTrng-1628155544-3319-1628179314.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=oScK5kMKhz9e7HWgnKK2TQ"
                                    width="100%" height="auto">
    
                            </div>
                            <div class="news_content col-8">
                                <p class="title_news_item">'Ông trùm' sáng chế ôm mộng về quê khởi nghiệp đèn thông minh
                                </p>
                                <p class="date_item">2021-02-22 22:35:00</p>
                            </div>
    
    
                        </div>
    
                    </div>
    
                </div>
            </div>
    
            <div class="area_tags">
                <div class="list_tags">
                    <h6>Các hạng mục</h6>
                    <hr />
                    <div class="tag row">
                        <div class=" ta col-6">
                            <p class="tag_content">Cuộc sống</p>
                            <hr />
                            <p class="tag_content">Kinh doanh</p>
                            <hr />
                            <p class="tag_content">Sức khỏe</p>
                            <hr />
                            <p class="tag_content">Xã hội</p>
                            <hr />
                        </div>
                        <div class="col-6">
                            <p class="tag_content">Du lịch</p>
                            <hr />
                            <p class="tag_content">Giáo dục</p>
                            <hr />
                            <p class="tag_content">Giải trí</p>
                            <hr />
                            <p class="tag_content">Khoa học</p>
                            <hr />
                        </div>
                    </div>
                </div>
    
            </div>
           
        </div>
       
    </div>
    
</div>