<div class="containers first row">
    <div class="main_content col-8">
        <ng-container *ngIf = "checkName() ; then show1 else iframe"></ng-container>
        <ng-template #show1>
        <div class="detailed__news">
            <div class="new_content">
                <h2 class="title_new">{{dataNews[0].title}}</h2>
                <p class="date">{{dataNews[0].date}}</p>
                <p class="description">{{dataNews[0].description}}</p>
                <div class="content" innerHtml="{{dataNews[0].content}}">
                    
                </div>
                <div class="author" innerHtml="{{dataNews[0].author}}">
                   
                </div>
            </div>

        </div>
        </ng-template>
        <ng-template #iframe>
            <iframe width="100%" height="100%" src="https://vnexpress.net/covid-19%2Fcovid-19-viet-nam"></iframe>
        </ng-template>
    </div>
    <div class="right_content col-4">
        <div class="banner_adv">
            <img src="assets/baner/banner_7.png" width="60%" height="auto">
        </div>
        <div class="area_news_populations">
            <div class="list_news">
                <h6>phổ biến nhất</h6>
                <hr />
                <div class="news" *ngFor="let new of dataPopu" >
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img src={{new.image}}
                                width="100%" height="auto"(click)="redict(new.link)">

                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item"(click)="redict(new.link)">{{new.title}}</p>
                            <p class="date_item">{{new.date}}</p>
                        </div>


                    </div>

                </div>

            </div>
        </div>


    </div>
</div>


<div class="containers second row">
    <div class="main_content col-8">


        <div class="comment">
            <div class="form_comment">
                <div class="input">
                    <input type="text" class="form-control" id="user" name="username" placeholder="Nhập tên của bạn">
                    <input type="text" class="form-control" id="email" name="email" placeholder="Nhập email của bạn">
                    <div class="clear"></div>
                </div>
                <textarea class="form-control" rows="5" id="t_comment" placeholder="Ý kiến của bạn là..."></textarea>
                <button type="button" class="btn" id="btn_Send">GỬI Ý KIẾN</button>
                <p class="see-more">>> Xem tất cả ý kiến bạn đọc...</p>
            </div>
        </div>

    </div>
    <div class="right_content col">

        <div class="banner_adv">
            <img src="assets/baner/banner_3.jpg" width="60%" height="auto">
        </div>

    </div>
</div>


<div class="containers third row">
    <div class="main_content col-8">
        <div class="news_you_need_to_know">
            <div class="list_news">
                <h4>có thể bạn quan tâm</h4>
                <hr />
                <div class="news" *ngFor = "let new of dataNeed">
                    <div class="news_item row">
                        <div class="news_image col-4">
                            <img   src={{new.image}}
                                width="100%" height="auto" (click)="redict(new.link)">
                        </div>
                        <div class="news_content col-8">
                            <p class="title_news_item" (click)="redict(new.link)">{{new.title}}</p>
                            <p class="description_item"(click)="redict(new.link)">{{new.description}}</p>
                        </div>
                    </div>
                    <hr />

                    
                </div>

            </div>

        </div>

    </div>
    <div class="right_content col">
        <div class="content">
            <div class="area_news_newest">
                <div class="list_news">
                    <h6>mới nhất</h6>
                    <hr />
                    <div class="news" *ngFor ="let new of dataNew">
                        <div class="news_item row">
                            <div class="news_image col-4">
                                <img src={{new.image}}
                                    width="100%" height="auto"(click)="redict(new.link)">
    
                            </div>
                            <div class="news_content col-8">
                                <p class="title_news_item"(click)="redict(new.link)">{{new.title}}</p>
                                <p class="date_item">{{new.date}}</p>
                            </div>
    
    
                        </div>
            
                    </div>
    
                </div>
            </div>
    
            <div class="area_tags">
                <div class="list_tags">
                    <h6>Các hạng mục</h6>
                    <hr />
                    <div class="tag row">
                        <div class=" ta col-6">
                            <p class="tag_content">Cuộc sống</p>
                            <hr />
                            <p class="tag_content">Kinh doanh</p>
                            <hr />
                            <p class="tag_content">Sức khỏe</p>
                            <hr />
                            <p class="tag_content">Xã hội</p>
                            <hr />
                        </div>
                        <div class="col-6">
                            <p class="tag_content">Du lịch</p>
                            <hr />
                            <p class="tag_content">Giáo dục</p>
                            <hr />
                            <p class="tag_content">Giải trí</p>
                            <hr />
                            <p class="tag_content">Khoa học</p>
                            <hr />
                        </div>
                    </div>
                </div>
    
            </div>
           
        </div>
       
    </div>
    
</div>