<div class="containers">
    <div class="contact_area row">
        <div class="address col-5">
            <h4>LIÊN HỆ</h4>
            <p><i class="fas fa-check"></i> Đón đầu cơ hội và thành công cùng chúng tôi </p>
            <p><i class="fas fa-check"></i> Kênh quảng cáo uy tín không thể bỏ qua cho
                mọi chiến dịch quảng bá thương hiệu.
            </p>
            <p><i class="fas fa-check"></i> Cho phép thương hiệu của bạn tiếp cận được
                nhiều độc giả với chi phí hợp lý.
            </p>
            <h6>Phòng quảng cáo tại Hà Nội</h6>
            <p><i class="fas fa-map-marker-alt"></i> Tầng 4 Tòa Nhà FPT Cầu Giấy, Phố Duy Tân,
                P. Dịch Vọng Hậu, Q. Cầu Giấy, Hà Nội​
            </p>
            <p><i class="fas fa-phone"></i> 024 7300 9999 (Ext: 4541 – 4566 - 4567)
                <br/>Hotline: 090 293 9644​
            </p>
            <h6>Phòng quảng cáo tại Tp.HCM</h6>
            <p><i class="fas fa-map-marker-alt"></i> Tầng 6, Tòa nhà Exchange Tower - số 1 Nam Kỳ
                Khởi Nghĩa, P. Nguyễn Thái Bình, Q.1, Tp.HCM
                ​
            </p>
            <p><i class="fas fa-phone"></i> 028 7300 9999 (Ext: 8560 – 8578)
                <br/>Hotline: 090 293 9644
            </p>
        </div>
        <div class="contact-form col-7">
            <div class="alpha">
                <input type="text" class="form-control" id="user" name="username" placeholder="Nhập tên của bạn">
                <input type="text" class="form-control" id="email" name="email" placeholder="Nhập email của bạn">
                <div class="clear"></div>
            </div>
            <div class="beta">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Nhập số điện thoại của bạn">
                <input type="text" class="form-control" id="company" name="company" placeholder="Nhập tên doanh nghiệp/ công ty của bạn">
                <div class="clear"></div>
            </div>
            <div class="lamda">
                <input type="text" class="form-control" id="title" name="title" placeholder="Nhập số điện thoại của bạn">
                <textarea class="form-control" rows="5" id="t_content" placeholder="Vui lòng nhập nội dung..."></textarea>
                <button type="button" class="btn" id="btn_Send">GỬI</button>
                
            </div>
        </div>
    </div>
    <div class="map_area">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2157622266145!2d106.78957711474985!3d10.871187492257222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276398969f7b%3A0x9672b7efd0893fc4!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRwLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1628499108349!5m2!1svi!2s" width="100%" height="450px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>